html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.list,
.link-focus,
.ul-address {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #D2D9E1;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

:root {
  --timing-functione: cubic-bezier(0.4, 0, 0.2, 1);

}

button {
  cursor: pointer;
}

body {
  width: 1200px;
  background: #0e0f0f;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0f0f;
}

.header__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  color: #ffffff;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}

.had {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background: #ffffff;
  padding-top: 68px;
}

.had__h1 {
  font-family: Roboto;
  font-size: 65px;
  line-height: 80px;
  letter-spacing: 3.2px;
  color: #0e0f0f;
  margin-top: -160px;
}

.had__p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;
  line-height: 33.6px;
  letter-spacing: 0.48px;
  color: #0e0f0f;
  padding-top: 40px;
}

.had__button {
  width: 133px;
  height: 44px;
  border-radius: 100px;
  background: #0e0f0f;
}

.had__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;

  width: 560px;
  height: 68px;

  border-radius: 8px;
  border-width: 1px;
  border-width: 1px;
  border: 1px solid #0e0f0f3d;
  padding: 15px;
}

.had__imput {
  border: #ffffff;
  width: 360px;
  height: 48px;
}

.had__number {
  font-family: Chivo;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #0e0f0f;
  border: none;
}

.had__left {
  display: flex;
  flex-direction: column;
  padding: 10px 100px 10px 50px;
}

.had__left-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 15px;
}

.had__img {
  width: 460px;
  height: 779px;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background: #d2d9e1;
  padding: 10px 40px;
  height: 178px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

/* =========================  savings ==================================== */

.savings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  padding: 50px 20px;
}

.savings__left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}

.savings__h1 {
  font-family: Roboto;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 2.56px;
}

.savings__p {
  font-family: Roboto;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0.36px;
  padding-top: 10px;
}

.savings__h2 {
  font-family: Roboto;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 1.92px;
}

.savings__h3 {
  font-family: Roboto;
  font-size: 39px;
  line-height: 48px;
  letter-spacing: 1.92px;
}

.savings__button {
  width: 185px;
  height: 54px;
  border-radius: 100px;
  border-width: 1px;
  background: #ffffff;
  border: 1px solid #0e0f0f3d;
}

/* ======================== reimagine ================================== */
.reimagine {
  display: flex;
  align-items: center;
  gap: 55px;
  background-color: #d2d9e1;
  padding: 50px 20px;
}

.reimagine__star {
  display: flex;
  gap: 15px;
  align-items: center;
}

.reimagine__star-img {
  width: 48px;
  height: 49px;
}

.reimagine__star-b {
  display: flex;
  align-items: center;
}

.reimagine__star-r {
  width: 24px;
  height: 48px;
}

.reimagine__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}

.reimagine__p {
  font-family: Chivo;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #0e0f0f;
}

.reimagine__h2 {
  font-family: Roboto;
  font-size: 61px;
  line-height: 64px;
  letter-spacing: 2.56px;
  color: #0e0f0f;
}

.reimagine__p1 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 25.2px;
  letter-spacing: 0.36px;
}

.reimagine__p2 {
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.72px;
}

.reimagine__p3 {
  font-family: Roboto;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0%;
}

.reimagine__span {
  font-family: Roboto;
  font-size: 17px;
  line-height: 25.2px;
  letter-spacing: 0%;
}

.reimagine__t {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.reimagine__t1 {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ======================= friendly ===================================== */

.friendly {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 55px;
  background-color: #ffffff;
  padding: 20px 50px;
}

.friendly__top {
  display: flex;

  gap: 80px;
  background-color: #ffffff;
}

.friendly__item {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 20px;
}

.friendly__p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 0%;
  color: #0e0f0f;
  width: 289px;
  height: 202px;
}

.friendly__p1 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #0e0f0f;
  padding-bottom: 5px;
}

.friendly__p2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.28px;
  color: #0e0f0f;
}

.friendly__p3 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
}

/* ======================= deposit ===================================== */

.deposit {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: url(../image/deposit.png);
  height: 766px;
}

.deposit__h1 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: 2.56px;
  text-align: center;
  padding-top: 50px;
}

.deposit__p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 16px;
  line-height: 25.2px;
  letter-spacing: 0.36px;
  text-align: center;
  padding-top: 20px;
}

.deposit__p1 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 16px;
  line-height: 25.2px;
  letter-spacing: 0.36px;
  text-align: center;
}

.deposit__p2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.28px;
  text-align: center;
}

.deposit__save-h2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 2.56px;
  text-align: center;
  color: #ffffff;
  padding-top: 50px;
}

.deposit__save-p {
  font-family: Chivo;
  font-style: Regular;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 1.28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 50px 0 20px;
}

.deposit__save {
  width: 1120px;
  height: 332px;
  border-radius: 24px;
  opacity: 1;
  margin-top: 50px;
  background: #0e0f0f;
  align-items: center;
}

.deposit__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
  width: 560px;
  height: 68px;
  border-radius: 8px;
  border-width: 1px;
  border-width: 1px;
  padding: 15px;
  border: 1px solid #ffffff3d;
  margin: 0 auto;
}

.deposit__imput {
  width: 440px;
  /* height: 68px; */
  border-radius: 8px;
  opacity: 1;
  border-width: 1px;
  border: 1px solid #0e0f0f;
  margin: 0 auto;
  background: #0e0f0f;
  padding: 10px;
  color: #ffffff;
}

.deposit__button {
  width: 133px;
  height: 44px;
  border-radius: 100px;
  opacity: 1;
  background: #ffffff;
}

/* ================== ready ====================================== */

.ready {
  display: flex;
  align-items: center;
  gap: 110px;
  background-image: url(../image/ready.png);
  width: 1200px;
  height: 463px;
  opacity: 1;
  padding: 50px 100px;
}

.ready__h2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 2.56px;
  color: #ffffff;
}

.ready__p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 0%;
  color: #ffffff;
}

.ready__button {
  font-family: Chivo;
  font-style: Regular;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.96px;
  text-align: center;
  text-transform: uppercase;

  opacity: 1;
  color: #0e0f0f;
  width: 159px;
  height: 20px;
  background: #ffffff;
  border-radius: 100px;
}

.ready__right {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  gap: 50px;
}

.ready__span {
  padding-left: 10px;
}

/* =================== built ============================================================== */

.built {
  display: flex;
  opacity: 1;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  padding: 100px 50px 0 50px;
  gap: 40px;
}

.built__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.built__p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.28px;
  text-align: center;
  color: #0E0F0F;
}

.built__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
}

.built__h2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 2.56px;
  color: #0E0F0F;
}

.built__p1 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 17px;
  line-height: 25.2px;
  letter-spacing: 0.36px;
  color: #0E0F0F;
}

.built__h3 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 39px;
  line-height: 48px;
  letter-spacing: 1.92px;
  color: #0E0F0F;
}

.built__button {
  width: 234px;
  height: 54px;
  opacity: 1;
  border-radius: 100px;
  border-width: 1px;
  background: #FFFFFF;
  border: 1px solid #0E0F0F3D;
  font-family: Chivo;
  font-style: Regular;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.96px;
  text-align: center;
  text-transform: uppercase;
  color: #0E0F0F;
  margin-top: 50px;
}

.built__line {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.built__section {
  position: relative;
  z-index: -1;
}

.built__img {
  width: 243px;
  height: 450px;
  position: relative;
  opacity: 1;
  z-index: 50;
  margin: -50px 0 -200px 412px;
}


/* ======================================= compare ============================================ */
.compare {
  display: flex;
  gap: 110px;
  opacity: 1;
  background: #D2D9E1;
  padding: 100px 50px;
}

.compare__h2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 53px;
  line-height: 64px;
  letter-spacing: 2.56px;
  color: #0E0F0F;
}

.compare__p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 0.48px;
  color: #0E0F0F;
  padding-top: 20px;
}

.compare__richt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare__richt-top {
  display: flex;
  flex-direction: column;
  opacity: 1;
  border-radius: 24px;
  background: #0E0F0F;
  padding: 20px;
  margin-bottom: 20px;
  gap: 25px;
  position: relative;
  z-index: 55;
}

.compare__richt-h5 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.96px;
  color: #FFFFFF;
}

.compare__richt-p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 23px;
  line-height: 33.6px;
  letter-spacing: 0%;
  color: #FFFFFF;
  text-align: end;
}

.compare__richt-p1 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.compare__richt-p2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 17px;
  line-height: 25.2px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.compare__richt-p3 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #B3B3B3;
}

.compare__richt-p4 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  color: #0E0F0F;
}

.compare__richt-items {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.compare__richt-img {
  width: fit-content;
}

/* ======================================= Asked ================================================ */
.asked {
  display: flex;
  flex-direction: column;
  /* gap: 120px; */
  padding: 200px 40px;
  opacity: 1;
  background: #FFFFFF;
}

.asked__h2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 2.56px;
  text-align: center;
  color: #0E0F0F;
  padding-bottom: 50px;
}

.asked__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 100px;
}

.asked__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.asked__p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.96px;
  color: #0E0F0F;
}

.asked__button {
  width: 209px;
  height: 46px;
  opacity: 1;
  top: 8834px;
  left: 495px;
  border-radius: 100px;
  border-width: 1px;
  background: #FFFFFF;
  border: 1px solid #0E0F0F3D;
  font-family: Chivo;
  font-style: Regular;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.96px;
  text-align: center;
  text-transform: uppercase;
  color: #0E0F0F;
  margin: 0 auto;
}

.asked__img {
  width: 44px;
  height: 44px;
  opacity: 1;
  border-width: 1px;
  border: 1px solid #0E0F0F40
}

.asked__switch {
  display: none;
}

.asked__body {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
  font-family: Roboto;
    font-style: Regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.96px;
    color: #0E0F0F;
}

.asked__switch:checked~.asked__body {
  max-height: 100px;
}

.asked__headline::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 4px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.asked__switch:checked~.asked__headline::before {
  transform: rotate(180deg) translateY(6px);
}

.asked__headline {
  display: block;
  position: relative;
  margin-bottom: 15px;
  user-select: none;
  color: #39739d;
  font-weight: normal;
  cursor: pointer;
}

.asked__headline:hover {
  text-decoration: underline;
}

.asked__span {
  height: 40px;
  width: 40px;
  display: inline-block;
  color: #0E0F0F;
  font-size: 44px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  opacity: 1;
}

.asked__span::before {
  content: "+";
}

.asked__span:focus,
.asked__span:hover {
  transform: rotate(90deg);
  color: #505454;
}
/* ======================================= about ========================================== */

.about {
  display: flex;
  gap: 110px;
  opacity: 1;
  margin: 150px 20px 0px 50px;
}

.about__h3 {
  font-family: Chivo;
  font-style: Regular;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  color: #D2D9E1;
}

.about__li {
  font-family: Roboto;
  font-style: Regular;
  font-size: 17px;
  line-height: 25.2px;
  letter-spacing: 0%;
  color: #D2D9E1;
  list-style-type: none;
  text-decoration: none;
}

.about__ul {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  gap: 50px;
}

.about__ul1 {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  column-gap: 15px;
  margin: 16px 0 50px 0;

}

.about__icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  width: 28px;
  height: 30px;
  border-radius: 10%;
}

.about__icon:focus,
.about__icon:hover {
  fill: #f4f0f0;
  transition: background-color 250ms var(--timing-functione), fill 250ms var(--timing-functione);
}

/* ========================= footer ================================== */
.footer__rectangle {
  padding: 50px 0;
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}

.footer__p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #B3B3B3;
}

.footer__span {
  padding-bottom: 3px;

}

.footer__bottom-footer {
  font-family: Roboto;
  font-style: Regular;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: #B3B3B3;
  padding: 20px 0;
}

.footer__h4 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #B3B3B3;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 50px;
}

.footer__bottom-p1 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #B3B3B3;
}

.footer__bottom-p {
  font-family: Roboto;
  font-style: Regular;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #B3B3B3;
}