html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.list,
.link-focus,
.ul-address {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  width: 1200px;
  height: 10973px;
  background: #0E0F0F;
  margin: 0 auto;
}

/* .section {
  margin-top: 62px;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E0F0F;

}

.header__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  color: #FFFFFF;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}

.had {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background: #FFFFFF;
  padding-top: 68px;

}

.had__h1 {
  font-family: Roboto;
  font-size: 65px;
  line-height: 80px;
  letter-spacing: 3.2px;
  color: #0E0F0F;
  margin-top: -160px;

}

.had__p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;
  line-height: 33.6px;
  letter-spacing: 0.48px;
  color: #0E0F0F;
  padding-top: 40px;
}

.had__button {
  width: 133px;
  height: 44px;
  border-radius: 100px;
  background: #0E0F0F;
}

.had__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;

  width: 560px;
  height: 68px;

  border-radius: 8px;
  border-width: 1px;
  border-width: 1px;
  border: 1px solid #0E0F0F3D;
  padding: 15px;

}

.had__imput {
  border: #FFFFFF;
  width: 360px;
  height: 48px;
}

.had__number {
  font-family: Chivo;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #0E0F0F;
  border: none;
}

.had__left {
  display: flex;
  flex-direction: column;
  padding: 10px 100px 10px 50px;
}

.had__left-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 15px;
}

.had__img {
  width: 460px;
  height: 779px;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background: #D2D9E1;
  padding: 10px 40px;
  height: 178px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

/* =========================  savings ==================================== */

.savings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: #FFFFFF;
  padding: 50px 20px;
}



/* ======================= deposit ===================================== */

.deposit {
  background-image: url(/image/deposit.png);

  height: 1666px;


}